/* Polices, marges, positions, dimensions */

a {
    /* Intègre    .entete a, .menu_zone a, .navigation a */
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

body,
h4,
h5,
html,
li,
p,
td,
th,
.entete,
.error,
.info,
.message {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1,
h2,
.navigation {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 15px 10px;
    padding: 0px;
}

h1 {
    font-size: 18px;
    font-weight: bolder;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 2px;
}

h5 {
    font-weight: bold;
    line-height: 12px;
}

li {
    line-height: 16px;
}

table {
    margin: 0pt auto;
}

th {
    line-height: 18px;
}

td {
    line-height: 14px;
}

dt {
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 12px;
}

.contenu {
    margin: 0px;
    display: block;
    text-align: center;
}

.entete {
    margin: 0px;
    display: block;
    float: none;
    left: 0px;
    line-height: 8px;
    padding: 10px 0 10px 10px;
    /* haut, droite, bas, gauche */
    position: relative;
    text-align: left;
    top: 0px;
}

.erreur {
    font-weight: bold;
}

.info {
    font-weight: bold;
    text-align: center;
}

.message {
    font-weight: bold;
    text-align: center;
}

.form_rech {
    margin-left: 5px;
    line-height: 13px;
    margin-top: 8px;
}

.rowheader {
    text-align: center;
    padding: 1px 5px 1px 5px;
}

.row0,
.row1,
.fich0,
.fich1,
.fich2 {
    text-align: left;
    padding: 1px 5px 1px 5px;
}

.navigation {
    margin: 0px 0px 15px;
    padding: 5px 10px 6px;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
}

#col_main,
#col_main_adm {
    margin: 0px 0px 0px 270px;
    display: block;
    text-align: center;
}

#col_main_adm {
    text-align: left;
}

#col_menu {
    margin: 0px;
    float: left;
    top: 0px;
    width: 250px;
}

.menuTexte,
.menuCorps {
    padding: 0px;
    margin: 0pt;
    line-height: 20px;
}

.menuTexte dt {
    padding: 0px;
    margin-left: 10px;
}

.menuTexte dd {
    padding: 0px;
    margin-left: 30px;
}

.menuCorps dl {
    margin: 0px;
}

.menuCorps dt {
    margin: 0px;
    padding: 0px;
}

.menuCorps a {
    margin: 0px;
    padding: 5px 10px;
    display: block;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
}

.menuCorps a:hover {
    text-decoration: none;
}

.menu_titre {
    padding: 5px 10px;
    font-weight: bold;
}

.menu_zone,
.rech_zone,
.certificats,
.pub_menu {
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.rech_zone {
    margin-bottom: 10px;
}

.certificats,
.pub_menu {
    text-align: center;
}

.rech_titre {
    padding: 5px 10px;
    font-weight: bold;
}

.critrech {}

.critrech ul {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
}

.pied_page2 {
    margin: 10px 0px 5px;
    padding: 5px 10px;
    display: block;
    font-size: 9px;
    text-align: center;
    clear: both;
    float: left;
    width: 98%;
}

#totop2,
#texte_pied2,
#copyright2 {
    width: 33%;
    float: left;
}

.totop2,
.texte_pied2,
.copyright2 {
    font-size: 9px;
    text-align: left;
}

.texte_pied2 {
    text-align: center;
}

.copyright2 {
    text-align: right;
}

.histo,
.graphe {
    position: relative;
    /* IE hack */
    margin: 0 auto;
    padding: 0px;
    width: 350px;
}

.graphe {
    padding: 2px;
    width: 400px;
}

.histo .barre,
.graphe .barre {
    display: block;
    position: relative;
    text-align: center;
    height: 1em;
    /* 12px */
    line-height: 1em;
}

.graphe .barre {
    height: 2em;
    line-height: 2em;
}

.log_np {
    text-align: center;
}

.log_com {
    text-align: center;
    width: 18em;
}

.log_action {
    width: 24em;
}

/* Definitions des couleurs, bords et background */
/* Couleurs, bordures, fonds */
/*
.entete      : EN-TETE AU DESSUS DE LA BARRE DE NAVIGATION
.navigation  : BARRE de NAVIGATION
.pied_page2  : PIED DE PAGE
.row0        : ligne de liste claire
.row1        : ligne de liste foncée
.rowheader   : bandeau au-dessus des listes
.fich0       : Détail acte détail de l'information - claire
.fich1       : Détail acte intitulé de l'information - foncée
.fich2       : Détail acte groupe d'informations - très foncé
.menu_titre  : Blocs de gauche Recherche et menu utilisateur - apparence titre
.menu_zone   : Blocs de gauche Recherche et menu utilisateur
.menuCorps   : Bloc menu utilisateur - contenu
.rech_titre  : Titre de zone de recherche
*/

h5 {
    color: rgb(32, 32, 255);
}

h2,
h4 {
    color: rgb(102, 102, 102);
}

th {
    /* titre tableau */
    color: rgb(112, 128, 144);
}

/*  pas d'autre réf des couleurs ci dessus */

.menuCorps a {
    border-color: rgb(255, 255, 255) rgb(51, 51, 51) rgb(51, 51, 51) rgb(0, 0, 0);
}

.menuCorps a:hover {
    border-color: rgb(51, 51, 51) rgb(255, 255, 255) rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.menuCorps a,
.menuCorps a:hover {
    border-style: solid;
    border-width: 1px;
}

.navigation a:hover {
    color: rgb(100, 149, 237);
    /* text-decoration: none; */
}

.erreur {
    color: rgb(255, 0, 0);
}

.histo,
.graphe {
    border: 1px solid rgb(255, 204, 102);
}

.histo {
    border: 0px;
}

.graphe .barre,
.histo .barre {
    color: #333;
}

/* border & background particuliers */
.navigation {
    border-style: none dotted solid;
    border-width: 5px 1px 2px 5px;
}

.entete {
    background-color: transparent;
    background-image: url(/assets/img/fond1.jpg);
    /* chargement image de fond */
    background-position: left top;
    background-repeat: repeat;
}

/* Fin border & background particuliers */

/* regroupement */
.menu_zone,
.entete,
.pied_page2,
.rech_titre {
    border: 1px dotted;
    /* des petits points rouges encadrant le menu */
}

/* Doit etre obligatoirement apres les autres définitions "border" */
.navigation,
.menu_zone,
.entete,
.pied_page2,
.rech_titre {
    border-color: rgb(153, 51, 0);
    /* sur navigation c'est le bas, mais pas en petits points ! */
}

.menu_titre {
    border-style: none none solid;
    border-bottom: 2px solid rgb(153, 51, 0);
}

.rech_titre,
.menu_titre {
    color: rgb(102, 102, 204);
}

.menu_titre,
.navigation,
.rowheader,
.fich2,
.graphe .barre,
.histo .barre {
    background-color: rgb(255, 204, 102);
}

.menu_zone,
.fich1,
.row1,
.menuTexte,
.menuCorps a:hover,
.pied_page2 {
    background-color: rgb(255, 255, 204);
}

.menuCorps a,
.rech_titre,
.fich0,
.row0 {
    background-color: rgb(255, 246, 143);
}

.entete a,
.menu_zone a,
.menuCorps a,
.navigation a,
.pied_page a,
.pied_page2 a {
    color: rgb(0, 0, 255);
}

.info {
    color: Green;
}

.bandeau {}

.bolder {
    font-weight: bolder;
}