/* Definitions des couleurs, bords et background */
/* Couleurs, bordures, fonds */
/*
.entete      : EN-TETE AU DESSUS DE LA BARRE DE NAVIGATION
.navigation  : BARRE de NAVIGATION
.pied_page2  : PIED DE PAGE
.row0        : ligne de liste claire
.row1        : ligne de liste foncée
.rowheader   : bandeau au-dessus des listes
.fich0       : Détail acte détail de l'information - claire
.fich1       : Détail acte intitulé de l'information - foncée
.fich2       : Détail acte groupe d'informations - très foncé
.menu_titre  : Blocs de gauche Recherche et menu utilisateur - apparence titre
.menu_zone   : Blocs de gauche Recherche et menu utilisateur
.menuCorps   : Bloc menu utilisateur - contenu
.rech_titre  : Titre de zone de recherche
*/

h5 {
    color: rgb(32, 32, 255);
}

h2,
h4 {
    color: rgb(102, 102, 102);
}

th {
    /* titre tableau */
    color: rgb(112, 128, 144);
}

/*  pas d'autre réf des couleurs ci dessus */

.menuCorps a {
    border-color: rgb(255, 255, 255) rgb(51, 51, 51) rgb(51, 51, 51) rgb(0, 0, 0);
}

.menuCorps a:hover {
    border-color: rgb(51, 51, 51) rgb(255, 255, 255) rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.menuCorps a,
.menuCorps a:hover {
    border-style: solid;
    border-width: 1px;
}

.navigation a:hover {
    color: rgb(100, 149, 237);
    /* text-decoration: none; */
}

.erreur {
    color: rgb(255, 0, 0);
}

.histo,
.graphe {
    border: 1px solid rgb(255, 204, 102);
}

.histo {
    border: 0px;
}

.graphe .barre,
.histo .barre {
    color: #333;
}

/* border & background particuliers */
.navigation {
    border-style: none dotted solid;
    border-width: 5px 1px 2px 5px;
}

.entete {
    background-color: transparent;
    background-image: url(../assets/img/fond1.jpg);
    /* chargement image de fond */
    background-position: left top;
    background-repeat: repeat;
}

/* Fin border & background particuliers */

/* regroupement */
.menu_zone,
.entete,
.pied_page2,
.rech_titre {
    border: 1px dotted;
    /* des petits points rouges encadrant le menu */
}

/* Doit etre obligatoirement apres les autres définitions "border" */
.navigation,
.menu_zone,
.entete,
.pied_page2,
.rech_titre {
    border-color: rgb(153, 51, 0);
    /* sur navigation c'est le bas, mais pas en petits points ! */
}

.menu_titre {
    border-style: none none solid;
    border-bottom: 2px solid rgb(153, 51, 0);
}

.rech_titre,
.menu_titre {
    color: rgb(102, 102, 204);
}

.menu_titre,
.navigation,
.rowheader,
.fich2,
.graphe .barre,
.histo .barre {
    background-color: rgb(255, 204, 102);
}

.menu_zone,
.fich1,
.row1,
.menuTexte,
.menuCorps a:hover,
.pied_page2 {
    background-color: rgb(255, 255, 204);
}

.menuCorps a,
.rech_titre,
.fich0,
.row0 {
    background-color: rgb(255, 246, 143);
}

.entete a,
.menu_zone a,
.menuCorps a,
.navigation a,
.pied_page a,
.pied_page2 a {
    color: rgb(0, 0, 255);
}

.info {
    color: Green;
}

.bandeau {}